* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

.row-limit-size {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

/* HEADER */
body > header > nav > ul {

    display: flex;
}

.main-menu {
    margin-left: 80px;
}

.main-menu > ul > li > a:not(#button) {
    display: block;
    padding: 0 10px;
    height: 80px;
    line-height: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color: #111;
    font-weight: 750;
    text-transform: uppercase;
    transition: all .3s ease;
    font-size: 17px;
  }


  .main-menu > ul > li:hover > a:not(#button){
    color: #D31E44;
  }

  #button {
    border: solid 2px #D31E44;
    background-color: #D31E44 ;
    color: #fff;
    border-radius: 20px;
    margin-left: 20px;
    padding: 10px;
    margin-top: 30px;
    line-height: 80px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
    transition: all .3s ease;
   
  }

   #button:hover {
    background-color: #fff;
    color: #D31E44;
   }

   /* MAIN */

   #background {
    background: url(../image/bg-header.webp) ;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
   }

   .background-text {
    text-align: center;
   }

   #background img {
    margin: 40px 0;
}

#background h1 {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: #e3c6e6;
    margin-bottom: 10px;
}

#background h2 {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    font-weight: 950;
    color: #fff;
    margin-bottom: 10px;
}

#background p {
    font-size: 28px;
    color: #fff;
}

.title-grid {
    text-align: center;
    margin: 35px 0;
}

.title-grid h1 {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-bottom: 13px;
}

.title-grid p {
    color: #888;
    margin-bottom: 80px;
}

.bold {
    font-weight: 700;
    color: #555;
}

#grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px 20px;
    justify-items: center;
}
.thumbnail {
    width: 435px;
    height: 363px;
    margin-bottom: 40px;
}

.thumbnail-bot {
    display: grid;
    grid-template-columns: 3, 1fr;
    grid-template-rows: 3, 1fr;
    padding: 20px 10px;
    background-color: #eaf0f0;
    color: #989898;
    margin-top: -10px;
    border-radius: 10px;
    
}

.thumbnail-bot img {
    grid-column: 1;
    border-radius: 10px;
}

.bold2 {
    grid-column: 2;
    font-size: 20px;
    color: #272727;
    font-weight: 700;
}

.thumbnail p {
    grid-column: 2;
}

/* Bloc du dessous */

#book {
   margin: 90px 110px 
}

#text-book{
    margin-left: -90px ;
    
}
#text-book h1 {
    padding: 25px 0;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 750;
}

#text-book p {
    
    font-size: 20px;
    color: #6b6b6b;
    margin-bottom: 25px;
}

.bold3 {
    color: #484848;
    font-weight: 800;
}
#text-book ul {
    padding-left: 15px;
}
#text-book ul li {
    font-size: 15px;
    color: #6b6b6b;
    margin-bottom: 25px;
    list-style-type: square ;
    
}

#bloc-brain {
    display: flex;
    justify-content: center;
    margin-left: 350px;
}

.text-brain h1 {
    padding: 25px 30px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 750;
    color: #888;
}


.main-menu > ul > li > ul {
    display: none;
    background-color: rgb(255, 255, 255);
    border-top: solid 2px #D31E44;
    position: absolute;
    padding: 0 15px;
    
}

.main-menu > ul > li:hover > ul {
    display: block;
}


.sous-menu li a  {
display: block;
border-bottom: solid 1px #989898 ;
font-family: Arial, Helvetica, sans-serif;
color: #6b6b6b;
font-weight: 650;
font-size: 12px;
padding: 15px;
}

.sous-menu li:hover a {
    color: #D31E44;
}

